/*GLOBAL*/
@import url("https://use.typekit.net/wkh3vjl.css");
@import url("https://use.typekit.net/jot6tbh.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html{
    scroll-behavior: smooth;
}

@media screen{
    body{   
        padding-right: 10%;
        padding-left: 10%;
    }
    
    #page1{
        max-height: 92vh;
    }

    #page{
        height: fit-content;
        max-height: fit-content;
    }
}

@media screen and (max-width: 768px) {
    body{    
        padding-right: 5%;
        padding-left: 5%;
    }
    
    #page1{
        max-height: 50vh;
    }

    #page{
        height: fit-content;
        max-height: fit-content;
    }
  
#footer_container{
        height: 10vh;
    }
}

@media screen and (max-width: 600px) {

    body{
        padding-right: 0px;
        padding-left: 0px;
    }
   
    #page1{
        max-height: 70vh;
    }

    #page{
        height: fit-content;
        max-height: fit-content;
    }

    #footer_container{
        height: 11vh;
    }
}



body{
    padding-top: 2%;
    background-image: url('../media/img/background.png');
    background-repeat: repeat;
    background-size: max(15%, 150px);
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: min(200%,4vw);
    height: 10%;
    max-height: 10%;
    background-color: #B4B4B3;
    border-radius: 20px;
    font-family: 'flegrei';
    color: #ce5b18;
    text-align: center;
    margin: 0;
    margin-bottom: 6px;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

h2{
    font-size: min(200%, 4vw);
    height: 10%;
    max-height: 10%;
    font-family: carlmarx;
    color: #ce5b18;
    text-align: center;
    margin: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    text-decoration: underline;
}

p{
    font-family: carlmarx, sans-serif;
    font-size: min(175%, 2.5vw);
    font-weight: 400;
    font-style: normal;
    text-align: justify;
}

a{
    color: #ce5b18;
    font-size: min(250%,3.5vw);
    text-align: center;
    text-decoration: none;
}

li {
    font-family: carlmarx, sans-serif;
    font-size: min(175%,2.5vw);
    font-style: normal;
    text-align: left;
    list-style-type: none;
}
/*---------------PÁGINA 1----------------*/
#page1{
    width: 100%;
    height: 85vh;
    background-color: #EBE4D1;
    display: flex;
    border-radius: 20px;
    padding: 3px;
    margin: 6px;
}

/*PÁGINA 1 - COLUMNA IZQUIERDA*/
#col_izq1{
    max-width: 33.3%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    object-fit: scale-down;
    margin: 3px;
}

#logo{
    position: absolute;
    top: 5%;
    max-width: 18%;
}

#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*PAGINA 1 - COLUMNA DERECHA*/
#col_der1{
    width: 100%;
    padding-bottom: 6px;
    padding-right: 6px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    row-gap: 6px;
    column-gap: 6px;
    margin: 3px;
}

#col_der1 a{
    border-radius: 20px;  
    font-family: 'flegrei'; 
}

.caja{
    height: 100%;
    width: 100%;
    background-color: #B4B4B3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.caja:hover{
    height: 100%;
    width: 100%;
    font-style: oblique;
    background-color: #9e9e9e;  
}

/*--------------PAGINA-2-3-y-4---------------*/
.page{
    height: fit-content;
    width: 100%;
    background-color: #EBE4D1;
    display: flex;
    align-items: stretch;
    border-radius: 20px;
    padding: 3px;
    margin: 6px;
}

.page a{
    font-size: min(150%,3vw);
}

.page a:hover{
    text-decoration: underline;
}

.col_texto{
    width: 66.6%;
    height: auto;
    border-radius: 20px;
    margin: 3px;
    padding: 5%;
    padding-top: 0%;
    background-color: #b4b4b3;
    overflow: hidden;
}

.col_imagenes{
    max-height: 100%;
    width: 33%;
    border-radius: 20px;
    margin: 3px; 
    display: flex;
    flex-direction: column;
}

.galeria{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img_con_desc {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
  }
  
.img_con_desc:hover {
    z-index: 1;
    transform: scale(1.1);
    background-color: #EBE4D1;
    border-radius: 20px;

}

.desc {
    padding: 2px;
    text-align: center;
    font-family: carlmarx, sans-serif;
    font-size: min(150%,2.5vw);
    font-weight: 400;
}
    
.image-wraper{
    max-height: 33.3333vh;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.image-wraper a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wraper img {
    min-width: 150px;
    width: 100%;
    border-radius: 20px;
}

.gmap{
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gmap iframe{
    height: 100%;
    width: 100%;
}

#menu {
    padding: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    column-gap: 0px;
    row-gap: 0px;
}

#menu ul{
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
}

#menu #ENTRANTES{
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

#menu #PRINCIPALES{
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

#menu #ESPECIALIDADES{
    margin-top: 30px;
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

#menu #POSTRES{
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

#menu #BEBIDAS{
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}



/*----------PIE DE PÁGINA-------------*/
  
#footer_container{
    position: fixed;
    width: 100%;
    height: 8vh;
    left: 0;
    bottom: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
}

footer{
    width: 98%;
    height: 100%;
    background-color: #B4B4B3;
    font-family: carlmarx;   
    font-size: 70%;
    align-items: center;
    border: 6px solid #EBE4D1;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#icons_container{
    width: auto;
    height: 70%;
    float: left;
    display: flex;
    justify-content: left;
    align-items: center;
}

.icon {
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 8px;
    height: 100%;
    width: fit-content;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
.icon:hover {

    background-color: #e28955;
    transform: scale(1.2);
  }
  
.icon img {
    height: 100%;
  }

#info_container{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 8px;
}

#info_container a{
    float: right;
    color: #b6561f;
    font-size: min(150%,3vw);
    text-align: right;
    text-decoration: none;
    transition: transform 0.3s ease;
}

#info_container a:hover{
    transform: scale(1.05);
    text-decoration: underline;
}




