/*
AUTORES: Natalia Rodríguez Navarro 100471976
         Raúl Aguilar Arroyo 100472050 
*/

/*---------------GLOBAL-----------------*/

/*FUENTES DE LETRA*/
@import url("https://use.typekit.net/wkh3vjl.css");
@import url("https://use.typekit.net/jot6tbh.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


/*ORGANIZACIÓN RESPONSIVE*/
@media screen {
    body {   
        padding-right: 10%;
        padding-left: 10%;
    }
    
    #page1 {
        max-height: 92vh;
    }
}

/*TABLET*/
@media screen and (max-width: 768px) {
    body {    
        padding-right: 5%;
        padding-left: 5%;
    }
    
    #page1 {
        max-height: 50vh;
    }
  
    #footer_container {
        height: 10vh;
    }
}

/*MÓVIL*/
@media screen and (max-width: 600px) {

    body {
        padding-right: 0px;
        padding-left: 0px;
    }
   
    #page1 {
        max-height: 70vh;
    }

    #footer_container {
        height: 11vh;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url('../media/img/background.png');
    background-repeat: repeat;
    background-size: max(15%, 150px);
    padding-top: 2%;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'flegrei';
    color: #ce5b18;
    font-size: min(200%,4vw);
    background-color: #B4B4B3;
    border-radius: 20px;
    text-align: center;
    margin: 0;
    margin-bottom: 6px;
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    font-family: carlmarx;
    color: #ce5b18;
    font-size: min(200%, 4vw);
    text-align: center;
    text-decoration: underline;
}

p {
    font-family: carlmarx;
    font-size: min(175%, 2.5vw);
    text-align: justify;
}

a {
    color: #ce5b18;
    font-size: min(250%,3.5vw);
    text-align: center;
    text-decoration: none;
}

li {
    font-family: carlmarx;
    font-size: min(175%,2.5vw);
    text-align: left;
    list-style-type: none;
}


/*---------------PÁGINA 1----------------*/

#page1 {
    height: 85vh;
    width: 100%;
    background-color: #EBE4D1;
    border-radius: 20px;
    margin: 6px;
    padding: 3px;
    display: flex;
}

/*PÁGINA 1 - COLUMNA IZQUIERDA - VÍDEO Y LOGO*/
#col_izq1 {
    max-width: 33.3%;
    border-radius: 20px;
    margin: 3px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;  
}

#logo {
    position: absolute;
    top: 5%;
    max-width: 18%;
}

#video {
    border-radius: 20px;
}

/*PÁGINA 1 - COLUMNA DERECHA - ENLACES*/
#col_der1 {
    width: 100%;
    margin: 3px;
    padding-bottom: 6px;
    padding-right: 6px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    row-gap: 6px;
    column-gap: 6px;
}

#col_der1 a {
    font-family: 'flegrei'; 
}

.caja {
    height: 100%;
    background-color: #B4B4B3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.caja:hover {
    height: 100%;
    background-color: #9e9e9e; 
    font-style: oblique;  
}


/*--------------PÁGINA-2-3-y-4-DISTRIBUCIÓN-GENERAL-------------*/

.page {
    width: 100%;
    background-color: #EBE4D1;
    border-radius: 20px;
    margin: 6px;
    padding: 3px;
    display: flex;
}

/*TEXTO*/
.col_texto { 
    width: 66.6%;
    background-color: #b4b4b3;
    border-radius: 20px;
    margin: 3px;
    padding: 5%;
    padding-top: 0%;
}

.page a {
    font-size: min(150%,3vw);
}

.page a:hover {
    text-decoration: underline;
}

/*GALERÍA DE IMÁGENES*/
.col_imagenes {
    width: 33%;
    border-radius: 20px;
    margin: 3px; 
    display: flex;
    flex-direction: column;
}

.galeria {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img_con_desc {
    height: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}
  
.img_con_desc:hover {
    background-color: #EBE4D1;
    border-radius: 20px;
    transform: scale(1.1);
    z-index: 1;
}

.desc {
    font-family: carlmarx;
    font-size: min(150%,2.5vw);
    text-align: center;
    padding: 2px;
}
    
.image-wraper {
    max-height: 33.3333vh;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.image-wraper a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wraper img {
    width: 100%;
    border-radius: 20px;
}


/*----------------PÁGINA 2 - MAPA------------------*/

.gmap {
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.gmap iframe {
    height: 100%;
    width: 100%;
    border: 0;
}


/*----------------PÁGINA 3 - MENÚ------------------*/

#menu {
    padding: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
}

#menu ul {
    height: auto;
    width: 100%;
    margin: 6px;
    padding: 0;
}

#menu li {
    margin: 6px;
}

#menu #ENTRANTES {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

#menu #PRINCIPALES {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

#menu #ESPECIALIDADES {
    margin-top: 8%;
    grid-row: 2 / span 1;
    grid-column: 1 / span 2;
}

#menu #POSTRES {
    grid-row: 3 / span 1;
    grid-column: 1 / span 1;
}

#menu #BEBIDAS {
    grid-row: 3 / span 1;
    grid-column: 2 / span 1;
}


/*------------------PIE DE PÁGINA------------------*/
  
#footer_container {
    height: 8vh;
    width: 100%;
    position: fixed;
    bottom: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
}

footer {
    height: 100%;
    width: 98%;
    padding: 5px;
    background-color: #B4B4B3;
    border: 6px solid #EBE4D1;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    align-items: center;
    font-family: carlmarx;   
    font-size: 70%;
    display: flex;
    justify-content: space-between;
}

#icons_container {
    height: 70%;
    display: flex;
    align-items: center;
}

.icon {
    height: 100%;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 8px;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
  
.icon:hover {
    background-color: #e28955;
    transform: scale(1.2);
}
  
.icon img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

#info_container {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-bottom: 8px;
}

#info_container a {
    color: #b6561f;
    font-size: min(150%,3vw);
    text-align: right;
    transition: transform 0.3s ease;
}

#info_container a:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

